{% extends 'base.html' %}

{% block menu %} 
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Play Lista </a>
        </div>
        <div class="navbar-collapse collapse">
          <div class="navbar-form navbar-right">
            <a href="{% url 'frontpage' %}"><button type="submit" class="btn btn-primary">Wszystkie piosenki</button></a>
            <a href="{% url 'logouting' %}"><button type="submit" class="btn btn-danger">Wyloguj</button></a>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
{% endblock %}

{% block jumbotron %} 
<div class="container text-center">
  <div class="container text-center">
    <h3>Tutaj możesz dodać piosenkę, którą lubisz i do której lubisz tańczyć :)</h3>
    <h4>W sumie możesz dodać 20 piosenek. Na stronie głównej możesz głosować na pozostałe piosenki.</h4>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row col-md-6 col-md-offset-3"> 
  <form role="form" method="post" id="myform">
    {% csrf_token %}
    <div class="form-group">
      <label for="artist">Wykonawca</label>
      {{form.artist}}
    </div>
    <div class="form-group">
      <label for="songname">Tytuł piosenki</label>
      {{form.song_name}}
    </div>
    <div class="btn-group">
      {{form.song_type}}
    </div>
    <div class="btn-group">
      {{form.code}}
    </div>
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Dodaj do listy</button>
    </div>
  </form>
</div>
<div  class="row col-md-6 col-md-offset-3"> 
<table id="proposed" class="table table-hover ">
<thead>
<tr>
<th>Wykonawca</th>
<th>Tytuł</th>
<th>Głosuj</th>
</tr>
</thead>
    <tbody id="result">

    </tbody>
</table>
</div>
{% endblock %}

{% block script%}
<script type="text/javascript">
$(document).ready(function() {
      $("#proposed").hide();
      $("#artist").change("#artist",function(event){
            var res = '';
            $.ajax({
                url:"/addsong/",
                type : "POST",
                dataType: 'json',
                data : {
                  artist: $("#artist").val(),
                  song_name : $("#songname").val(), 
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success : function(json) {
                  var songs = jQuery.parseJSON( json );
                  $.each(songs, function(index, value) {
                    console.log(value)
                    res += "<tr><td>" + value['fields']['artist'] + "</td><td>" + value['fields']['song_name'] + "</td><td><form method='post'>{% csrf_token %}<input type='hidden' name='vote' value='plus'><input type='hidden' name='song_id' value='" + value['pk'] + "'><button type='submit' class='btn btn-success'>" + value['fields']['score_plus']+ "</button></form></td></tr>"
                  });
                  $("#proposed").show();
                  $("#result").html(res);
                },
                complete : function(json) {
                  $("#result").html(res);
                },
                error : function(xhr,errmsg,err) {
                  alert(xhr.status + ": " + xhr.responseText);
                }
              });
            return false; //<---- move it here
       });

});
</script>
{% endblock %}