{% extends 'base.html' %}

{% block menu %} 
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">Play Lista </a>
        </div>
        <div class="navbar-collapse collapse">
          <div class="navbar-form navbar-right">
            <a href="{% url 'mysong' %}"><button type="submit" class="btn btn-primary">Twoje piosenki</button></a>
            <a href="{% url 'addsong' %}"><button type="submit" class="btn btn-primary">Dodaj piosenkę</button></a>
            <a href="{% url 'logouting' %}"><button type="submit" class="btn btn-danger">Wyloguj</button></a>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
{% endblock %}

{% block jumbotron %} 
<div class="container text-center">
    <h3>Poniżej możesz przegladać i głosować na już dodane piosenki !</h3>
</div>
{% endblock %}

{% block content %}
<div class="col-md-12"> 
    <table class="table table-hover ">
        <thead>
            <th>Wykonawca</th>
            <th>Tytuł</th>
            <th>Plusy</th>
            <th>Minusy</th>
            <th>Bilans</th>
            <th>Rodzaj</th>
            <th>Play</th>
        </thead>
        <tbody>
            {% for song in songs%}
            <tr>
                <td>{{song.artist}}</td>
                <td>{{song.song_name}}</td>
                <td><button type="submit" class="btn btn-success">{{song.score_plus}}</button></td>
                <td><button type="submit" class="btn btn-danger">{{song.score_minus}}</button> </td>
                <td>{{song.score}}</td>
                <td>{{song.song_type}}</td>
                <td>
                    <audio controls>
                        <source src="#" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}