{% extends 'base.html' %}

{% block menu %} 
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Play Lista </a>
    </div>
    <div class="navbar-collapse collapse">
      {% if user.is_authenticated %}
        <p>Siemano {{user}}</p>
      {% else %}
      <form class="navbar-form navbar-right" method="post">
        {% csrf_token %}
        <div class="form-group">
          {{form.username}}
        </div>
        <div class="form-group">
          {{form.password}}
        </div>
        <button type="submit" class="btn btn-primary">Zaloguj</button>
      </form>
      {% endif %}
    </div><!--/.navbar-collapse -->
  </div>
</div>
{% endblock %}

{% block jumbotron %} 
<div class="container text-center">
    <h3>Aby korzystać ze strony proszę się zalogować :)</h3>
    <h3>Jeżeli nie masz jeszcze konta zarejestruj się ! </h3>
    <a href="{% url 'register' %}"><button type="submit" class="btn btn-info">Rejestracja</button></a>
    <h2><u>{{form.errors.valid}}</u></h2>
</div>
{% endblock %}